---
layout: base.njk
headerImage: /images/freelancer.jpg
title: Tags | Dennis Ulijn
---

    <header>
        <div class="header-content">
            <h1>Tags</h1>
            <p class="subtitle">Alle onderwerpen waar ik over schrijf</p>
        </div>
        {% if headerImage %}
            <img class="header-img blur" src="{{ headerImage }}" alt="">
        {% endif %}
        <div class="header-gradient"></div>
    </header>

    <main>
		<article class="tags-content">
			<h2>Uitgelicht</h2>
			<p>Projecten met deze tag tonen hoe ik mijn analytische en innovatieve karakter tot waardevolle expertise en producten in het werkveld vertaal.</p>
			<br>
			<div class="chips">
				<a href="/tags/uitgelicht" class="chip orange">Uitgelicht</a>
			</div>
		</article>
    	<article class="tags-content">
			<h2>Ontwerpprocessen</h2>
				<p>Het ontwerpproces is de ruggengraat van elk succesvol project. Deze tags beschrijven verschillende aanpakken en frameworks die ik gebruik om projecten gestructureerd uit te voeren.</p>
			<br>
			<div class="chips">
				{% for tag in tagColors.yellow %}
					<a href="/tags/{{ tag | slugify }}" class="chip yellow">{{ tag }}</a>
				{% endfor %}
			</div>     
    	</article>
		<article class="tags-content">
			<h2>Designdisciplines</h2>
			 <p>Als interaction designer werk ik in verschillende design disciplines. Van het ontwerpen van user interfaces tot het maken van complete dienstverleningsproducten. Deze tags laten zien hoe breed mijn vakgebied is.</p>
			<br>
			<div class="chips">
				{% for tag in tagColors.red %}
					<a href="/tags/{{ tag | slugify }}" class="chip red">{{ tag }}</a>
				{% endfor %}
			</div>
		</article>
		<article class="tags-content">
			<h2>Onderzoeksmethoden</h2>
			<p>Goed onderzoek vormt de basis voor elk ontwerp. Deze tags beschrijven verschillende onderzoeksmethoden en technieken die ik inzet om tot onderbouwde ontwerpkeuzes te komen.</p>
			<br>
			<div class="chips">
				{% for tag in tagColors.green %}
					<a href="/tags/{{ tag | slugify }}" class="chip green">{{ tag }}</a>
				{% endfor %}
			</div>
		</article>
		    </div>
	    </article>
    </main>
</main>