---
layout: base.njk
---

<header>
    <div class="header-content">
        <h1>{{ title }}</h1>
        <p class="subtitle">{{ description }}</p>
    </div>
    {% if headerImage %}
        <img class="header-img" src="{{ headerImage }}" alt="">
    {% endif %}
    <div class="header-gradient"></div>
</header>

<main>
    <div class="cards">
        {%- for post in collections.posts | reverse -%}
        <a href="{{ post.url }}" class="card {% if post.data.featured %}card-featured{% endif %}">
            {% if post.data.thumbnail %}
                <img loading="lazy" src="{{ post.data.thumbnail }}" alt="" {% if post.data.thumbnailPosition %}style="object-position: {{ post.data.thumbnailPosition }};"{% endif %}>
            {% endif %}
            <div class="card-content">
                <h3>{{ post.data.title }}</h3>
                <p class="subtitle">Geschreven in {{ post.date | dateToMonthYear }}</p>
            </div>
        </a>
        {%- endfor -%}
    </div>
</main>
