<footer>
    <div class="content">
        <a href="/" class="logo">
            {% include "logo.njk" %}
        </a>
        <div class="links">
            <ul>
                <li><a href="/tags/"><button class="ghost dark">Tags</button></a></li>
                <li><a href="/blog/"><button class="ghost dark">blog</button></a></li>
                <li><a href="/about/"><button class="secondary dark">about</button></a></li>
            </ul>
        </div>
    </div>
</footer>
