<div class="chips">
    {# First render colored tags #}
    {% for tag in tags | sortByTagOrder %}
        {% set tagFound = false %}
        {% set tagColor = "" %}
        
        {% for colorName, tagList in tagColors %}
            {% if tag in tagList %}
                {% set tagFound = true %}
                {% set tagColor = colorName %}
            {% endif %}
        {% endfor %}
        
        {% if tagFound %}
            {% if tagColor !== 'orange' or isPost %}
                {% if isPost %}
                    <a href="/tags/{{ tag | slugify }}" class="chip {{ tagColor }}">{{ tag }}</a>
                {% else %}
                    <div href="/tags/{{ tag | slugify }}" class="chip {{ tagColor }}">{{ tag }}</div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {# Then render uncolored tags #}
    {% for tag in tags | sortByTagOrder %}
        {% set tagFound = false %}
        
        {% for colorName, tagList in tagColors %}
            {% if tag in tagList %}
                {% set tagFound = true %}
            {% endif %}
        {% endfor %}
        
        {% if not tagFound %}
            {% if isPost %}
                <a href="/tags/{{ tag | slugify }}" class="chip">{{ tag }}</a>
            {% else %}
                <div href="/tags/{{ tag | slugify }}" class="chip">{{ tag }}</div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>