Redirect 301 /personal/Levix-Start/ /blog/2013-07-levix-startpagina/
Redirect 301 /personal/VanLentHolding-Branding/ /blog/2014-05-van-lent-holding-branding/
Redirect 301 /personal/Rehan-Racing/ /blog/2020-12-rehan-racing-branding/
Redirect 301 /personal/recepten/ /blog/2023-09-ontwerpen-voor-de-smaakpapillen/
Redirect 301 /personal/Dedicon/Monet/ /blog/2024-06-dedicon-resultaat/
Redirect 301 /personal/rekenen/ /blog/2023-12-reken-maar/

Redirect 301 /showcases/denkalseenkunstenaar/ /blog/2021-10-denken-als-kunstenaar/
Redirect 301 /showcases/game-interfaces/ /blog/2022-05-diegetische-interfaces/
Redirect 301 /showcases/kleurenblindheid/ /blog/2022-09-mijn-kleurenblindheid/
Redirect 301 /showcases/LerenVanSlechteVoorbeelden/ /blog
Redirect 301 /showcases/onboarding/ /blog/2022-06-onboarding/
Redirect 301 /showcases/PrinciplesOfGameDesign/ /blog/2022-03-12-principles-of-game-design/
Redirect 301 /showcases/skeuomorfisme/ /blog/2023-11-skeuomorfisme/
Redirect 301 /showcases/spatial-computing/ /blog/2023-10-extended-reality/
Redirect 301 /showcases/ZieZo-beurs2022/ /blog/2022-10-ziezobeurs-2022/

Redirect 301 /school/M1-CreDe/LWG1/ /blog/2020-08-creatieve-technieken/
Redirect 301 /school/M1-CreDe/LWG2/ /blog/2020-07-personal-brand-design/
Redirect 301 /school/M1-CreDe/LWG3/ /blog/2020-09-business-design/
Redirect 301 /school/M1-CreDe/LWG4/ /blog/2020-10-interactive-storytelling/
Redirect 301 /school/M1-CreDe/OP/ /blog/2020-11-han-onderwijs-tijdens-corona/
Redirect 301 /school/M2-HCD/LWG1/ /blog/2021-01-prototyping/
Redirect 301 /school/M2-HCD/LWG2/ /blog/2021-02-contextanalyse/
Redirect 301 /school/M2-HCD/LWG3/ /blog/2021-03-web-design/
Redirect 301 /school/M2-HCD/LWG4/ /blog/2021-04-usability-testing/
Redirect 301 /school/M2-HCD/OP/ /blog/2021-05-elst-communityplatform/
Redirect 301 /school/M3-SDM/Methode/ /blog/2021-07-service-design-thinking-met-de-double-diamond/
Redirect 301 /school/M3-SDM/LWG1/ /blog/2021-08-inspiration-based-user-research/
Redirect 301 /school/M3-SDM/LWG2/ /blog/2021-09-service-design-thinking/
Redirect 301 /school/M3-SDM/LWG3/ /blog/2021-10-concepting/
Redirect 301 /school/M3-SDM/LWG4/ /blog/2021-11-mobile-interfaces/
Redirect 301 /school/M3-SDM/OP/ /blog/2021-12-klm-mobile-touchpoint/
Redirect 301 /school/M4-SAG/LWG1/ /blog/2022-01-serious-game-analyse/
Redirect 301 /school/M4-SAG/LWG2/ /blog/2022-02-gebruikers-en-taakanalyse/
Redirect 301 /school/M4-SAG/LWG3/ /blog/2022-03-motivatie-en-leergedrag/
Redirect 301 /school/M4-SAG/LWG4/ /blog/2022-04-onboarding-en-interfacing/
Redirect 301 /school/M4-SAG/OP/ /blog/2022-01-han-studentontplooiing-1/
Redirect 301 /school/M4-SAG/OP/1/ /blog/2022-01-han-studentontplooiing-2/
Redirect 301 /school/M4-SAG/OP/2/ /blog/2022-01-han-studentontplooiing-3/
Redirect 301 /school/M4-SAG/OP/3/ /blog/2022-01-han-studentontplooiing-4/
Redirect 301 /school/M4-SAG/OP/4/ /blog/2022-01-han-studentontplooiing-5/
Redirect 301 /school/M5-PSS/LWG1/ /blog/2022-07-design-research/
Redirect 301 /school/M5-PSS/LWG2/ /blog/2022-08-design-ethics/
Redirect 301 /school/M5-PSS/LWG3/ /blog/2022-09-big-ideas-for-the-future/
Redirect 301 /school/M5-PSS/LWG4A/ /blog/2022-11-projectmanagement-in-de-creatieve-industrie/
Redirect 301 /school/M5-PSS/LWG4B/ /blog/2022-10-creative-writing/
Redirect 301 /school/M5-PSS/OP/ /blog/2022-07-eenhoorn-voorbereiding/
Redirect 301 /school/M5-PSS/OP/iteratie1/ /blog/2022-08-eenhoorn-iteratie-1/
Redirect 301 /school/M5-PSS/OP/iteratie2/ /blog/2022-08-eenhoorn-iteratie-2/
Redirect 301 /school/M5-PSS/OP/oplevering/ /blog/2022-12-eenhoorn-iteratie-3/
Redirect 301 /school/M6-BTH/Multidisciplinair-en-projectmatig/ /blog/2023-01-arnhem-multidisciplinair-1-10-100/
Redirect 301 /school/M6-BTH/Ontwerpen-voor-gedragsverandering/ /blog/2023-02-arnhem-gedragsverandering/
Redirect 301 /school/M6-BTH/Tevreden-lopen/ /blog/2023-03-arnhem-walkability/
Redirect 301 /school/M6-BTH/Samenwerken-met-gebruikers/ /blog/2023-04-arnhem-co-creatie-met-inwoners/
Redirect 301 /school/M6-BTH/Prototype-ontwikkeling/ /blog/2023-05-arnhem-low-en-mid-fidelity/
Redirect 301 /school/M6-BTH/Prototype-tot-product/ /blog/2023-06-arnhem-high-fidelity-en-web/
Redirect 301 /school/M7-TMS/DesignforInsights-Theorie/ /blog/2023-07-transmedia-storytelling/
Redirect 301 /school/M7-TMS/DesignforInsights-Checklist/ /blog/2023-08-transmedia-storytelling-checklist/
Redirect 301 /school/M7-TMS/DesignforInsights-CaseStudies/ /blog/2023-08-transmedial-stories/
Redirect 301 /school/M8-Dedicon/Introduction/ /blog/2024-01-dedicon-definitie/
Redirect 301 /school/M8-Dedicon/Requirements/ /blog/2024-02-dedicon-requirements/
Redirect 301 /school/M8-Dedicon/LowFidelity/ /blog/2024-03-dedicon-low-fidelity-prototype/
Redirect 301 /school/M8-Dedicon/MidFidelity/ /blog/2024-04-dedicon-mid-fidelity-prototype/
Redirect 301 /school/M8-Dedicon/HighFidelity/ /blog/2024-05-dedicon-high-fidelity-prototype/
Redirect 301 /school/M8-Dedicon/Persuasion/ /blog/2024-06-dedicon-resultaat/

ErrorDocument 404 /index.html