* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('september.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-content {
    text-align: center;
    color: #9e430f;
    text-shadow: 0 0 10px rgba(204, 75, 16, 0.8);
    z-index: 1;
}

.text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
	margin-bottom:12rem;
}

.text-content p {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Georgia', serif;
}

.leaf {
    position: absolute;
    pointer-events: none;
    z-index: 0;
}

.nav-button {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Georgia', serif;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.nav-button:hover {
    background: rgba(255, 255, 255, 0.4);
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}

.gyro-button {
    position: absolute;
    bottom: 80px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Georgia', serif;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.gyro-button:hover {
    background: rgba(255, 255, 255, 0.4);
}