---
layout: base.njk
headerImage: /images/showcases.jpg
title: Blog | Dennis Ulijn
---

    <header>
        <div class="header-content">
            <h1>Blog</h1>
            <p class="subtitle">Artikelen over design, development en projecten</p>
        </div>
        {% if headerImage %}
            <img class="header-img blur" src="{{ headerImage }}" alt="" {% if headerImagePosition %}style="object-position: {{ headerImagePosition }};"{% endif %}>
        {% endif %}
        <div class="header-gradient"></div>
    </header>

<main>
    <div class="cards">
        {% for post in collections.blog | reverse %}
        <a href="{{ post.url }}" class="card {% if post.data.featured == true %}card-featured{% endif %}">
            {% if post.data.thumbnail %}
            <img loading="lazy" src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}">
            {% endif %}
            <div class="card-content">
                <h3>{{ post.data.title }}</h3>
                <p class="subtitle">{{ post.data.date | dateFilter }}</p>
                {% if post.data.description %}
                <p>{{ post.data.description }}</p>
                {% endif %}
                {% if post.data.tags %}
                    {% set tags = post.data.tags %}
                    {% include "tagChips.njk" %}
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
</main>
