---
layout: base.njk
---

<header>
    <div class="header-content">
        {% if tags %}
            {% set isPost = true %}
            {% include "tagChips.njk" %}
        {% endif %}
        
        <h1>{{ title }}</h1>
        <p class="subtitle">Geschreven door <a href="/about/">Dennis Ulijn</a> in {{ page.date | dateToMonthYear }}</p>
    </div>
    {% if headerImage %}
        <img class="header-img blur" src="{{ headerImage }}" alt="" {% if headerImagePosition %}style="object-position: {{ headerImagePosition }};"{% endif %}>
    {% endif %}
    <div class="header-gradient"></div>
</header>

<main>
    <article>
        {% if opening %}
            <p class="opening">{{ opening }}</p>
        {% endif %}
        
        {{ content | safe }}
    </article>

    <h2 style="margin-block:2rem;">Aanverwante Artikelen</h2>

    <div class="post-navigation">
        {% set posts = collections.blog | reverse %}
        {% set currentPost = page %}
        
        <div class="cards">
            {% for post in posts %}
                {% if post.url == currentPost.url %}                    
                    {% if not loop.last %}
                        {% set nextPost = posts[loop.index0 + 1] %}
                        <a href="{{ nextPost.url }}" class="card">
                            {% if nextPost.data.thumbnail %}
                                <img loading="lazy" src="{{ nextPost.data.thumbnail }}" alt="" {% if nextPost.data.thumbnailPosition %}style="object-position: {{ nextPost.data.thumbnailPosition }};"{% endif %}>
                            {% endif %}
                            <div class="card-content">
                                <p class="nav-label subtitle">Vorig artikel</p>
                                <h3>{{ nextPost.data.title }}</h3>
                                <p class="subtitle">Geschreven in {{ nextPost.date | dateToMonthYear }}</p>
                            </div>
                        </a>
                    {% endif %}
                    {% if not loop.first %}
                        {% set prevPost = posts[loop.index0 - 1] %}
                        <a href="{{ prevPost.url }}" class="card">
                            {% if prevPost.data.thumbnail %}
                                <img loading="lazy" src="{{ prevPost.data.thumbnail }}" alt="" {% if prevPost.data.thumbnailPosition %}style="object-position: {{ prevPost.data.thumbnailPosition }};"{% endif %}>
                            {% endif %}
                            <div class="card-content">
                                <p class="nav-label subtitle">Volgend artikel</p>
                                <h3>{{ prevPost.data.title }}</h3>
                                <p class="subtitle">Geschreven in {{ prevPost.date | dateToMonthYear }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>