---
layout: base.njk
title: Over Dennis Ulijn | Portfolio
description: Interaction Designer met een passie voor toegankelijkheid en gebruiksvriendelijkheid
---

<header>
    <img src="/images/DennisUlijn-2024-10.png" alt="" class="header-img">
    <div class="header-gradient"></div>
    <div class="header-content">
        <div class="chips">
            <a href="#eigenschappen" class="chip red">eigenschappen</a>
            <a href="#werkervaring" class="chip green">werkervaring</a>
            <a href="#opleidingen" class="chip yellow">opleidingen</a>
            <a href="#vaardigheden" class="chip blue">vaardigheden</a>
            <a href="#recent" class="chip orange">Uitgelichte Projecten</a>
        </div>
        <h1>Over mij</h1>
        <p class="direct-subtitle">Interaction Designer met een passie voor toegankelijkheid en gebruiksvriendelijkheid</p>
    </div>
</header>

<main>
    <article class="shadow" id="eigenschappen">
        <!-- <h2>Eigenschappen</h2> -->
        <p class="opening">Ik ben een leergierige, analytische geest met een flinke dosis creativiteit en een scherpe blik op zowel de techniek als de menselijke ervaring. Gedreven door nieuwsgierigheid en enthousiasme verdiep ik me in hoe mensen interacteren met systemen, met als doel om complexe processen helder en intuïtief te maken.</p> 
        <p>Ik combineer mijn opleiding in Communicatie en Multimedia Design met mijn ervaring als probleemoplosser en out-of-the-box denker in het technische werkveld. Of het nu gaat om het ontwerpen van gebruiksvriendelijke interfaces of het bouwen van ervaringen met innovatieve elementen, ik ben altijd op zoek naar manieren om systemen en ideeën naar een hoger niveau te tillen.</p>
        <p>Teamleden waarderen mijn kritische maar humoristische kijk, en mijn kracht om zowel in het grote geheel als in de kleinste details waarde en uitdaging te vinden.</p>
    </article>
    <article class="shadow" id="werkervaring">
        <h2>Werkervaring</h2>			
        <h3>Dedicon</h3>
        <p class="detail">januari 2024 - juli 2024</p>
        <p class=" no-top-spacing"><i class="detail">Projectmanagement, Grave</i></p>	
        <ul>
            <li>HBO-afstudeerproject softwareontwerp- en ontwikkeling</li>
        </ul>		
        <h3>Van Lent Systems</h3>
        <p class="detail">mei 2015 - februari 2022</p>
        <p class=" no-top-spacing"><i class="detail">R&amp;D-afdeling, hoofdkantoor, Oss</i></p>
        <ul>
            <li>Marketing manager</li>
            <li>Projectmanager elektrisch voertuig</li>
            <li>Elektrisch ontwikkelaar elektrisch voertuig</li>
        </ul>		
        <h3>Levix Automatisering</h3>
        <p class="detail">oktober 2013 - april 2015</p>
        <p class=" no-top-spacing"><i class="detail">Hoofdkantoor, Geffen</i></p>
        <ul>
            <li>Filiaalmanager Showroom/Technische dienst</li>
            <li>Mid-level reparateur computersystemen</li>
        </ul>
        <h3>Van Lent Systems</h3>
        <p class="detail">november 2007 - augustus 2013</p>
        <p class=" no-top-spacing"><i class="detail">R&amp;D-afdeling, Lithoijen en hoofdkantoor, Oss</i></p>
        <ul>
            <li>Elektrisch ontwerper medische hulpmiddelen</li>
            <li>Eerste reparateur medische hulpmiddelen</li>
            <li>RMA-, kwaliteitscontrole- en magazijnbeheer</li>
        </ul>
        <h3>Albert Heijn</h3>
        <p class="detail">juni 2000 - december 2007</p>
        <p class=" no-top-spacing"><i class="detail">Filiaal 1222, Oss</i></p>
        <ul>
            <li>Teamleider versafdelingen</li>
    </ul></article>
    <article class="shadow" id="opleidingen">
        <h2>Opleidingen</h2>
        <h3>HBO: Communication &amp; Multimedia Design</h3>
        <p class="detail">HAN Arnhem, augustus 2020 - 2024, diploma behaald in juni 2024</p>
        <h4>Profiel: Interaction Design (I<span style="text-transform: lowercase;">x</span>D)</h4>
        <ul>
            <li><b>Service Design &amp; Mobile Interactions</b><br>Vormgeven van volledige dienstverleningen en klantreizen met oog voor alle belanghebbenden; van backstage medewerkers tot eindgebruikers,</li>
            <li><b>Serious &amp; Applied Gaming</b><br>Ontwerpen voor gedragsverandering en -ontplooiing door spel en spelprincipes,</li>
            <li><b>Perspectives on Ethical and Inclusive Design</b><br>Inclusief en toegankelijk ontwerpen binnen ethische standaarden,</li>
            <li><b>Minor: Beyond the Hype</b><br>Muti-disciplinair (met ICT en BIM) ontwerpen voor meerdere stakeholders in de openbare ruimte met gebruik van nieuwe en opkomende technologieën zoals Digital Twins, AR/VR en AI.</li>
        </ul>
        <h3>HBO: Elektrotechniek</h3>
        <p class="detail no-spacing">Avans 's-Hertogenbosch, augustus 2006 - november 2007</p>
        <p>Diploma niet behaald i.v.m. baanaanbod in het werkveld (R&amp;D-afdeling Van Lent Systems) binnen de studierichting Elektrotechniek en interessegebied van ontwikkeling in productontwerp binnen consumentenelektronica</p>
        <h3>MBO: Elektrotechniek</h3>
        <p class="detail no-spacing">ROC de Leijgraaf Oss/Veghel, augustus 2002 - juni 2006, diploma behaald in juni 2006</p>
        <h4>Profiel: Computer Interface Techniek</h4>
        <p>Repareren van micro-elektronica, werken met communicatieprotocollen en programmeren van embedded systemen</p>
    </article>
    <article class="shadow" id="vaardigheden">
        <h2>Vaardigheden</h2>
        <h3>Ontwerp &amp; Development</h3>
        <ul>
            <li><b>Ontwerppakketten:</b> ervaren in Photoshop, Illustrator, InDesign</li>
            <li><b>Prototyping tools:</b> ervaren in Figma, XD, Protopie</li>
            <li><b>Development tools:</b> ervaren in html en css, basis in javascript en typescript</li>
            <li><b>Office:</b> ervaren in Word, Excel, Powerpoint</li>
        </ul>
        <h3>Talen</h3>
        <ul>
            <li><b>Nederlands:</b> moedertaal, vloeiend in spreken, lezen en schrijven</li>
            <li><b>Engels:</b> vloeiend in spreken, lezen en schrijven</li>
            <li><b>Duits:</b> voldoende in spreken, lezen en schrijven</li>
        </ul>
    </article>
        <h2 style="margin-block:2rem;" id="recent">Recente Uitgelichte Projecten</h2>
        <div class="cards">
            {% for blog in collections.featuredBlog 
                | reverse 
                | limit(3) %}
            <a href="{{ blog.url }}" class="card card-featured">
                <img loading="lazy" src="{{ blog.data.thumbnail }}" alt="{{ blog.data.title }}">
                <div class="card-content">
                    <h3>{{ blog.data.title }}</h3>
                    <p class="subtitle">{{ blog.data.date | dateFilter }}</p>
                    <p>{{ blog.data.description }}</p>
                    {% if blog.data.tags %}
                        {% set tags = blog.data.tags %}
                        {% include "tagChips.njk" %}
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
</main>
