---
layout: base.njk
title: Dennis Ulijn | Interaction Designer | Portfolio
---

<header>
    <div class="header-content">
        <h1>Dennis Ulijn</h1>
        <p class="direct-subtitle">Interaction Designer</p>
        <p class="headline">"Ik ontwerp innovatieve interacties met een focus op de gebruiker en het waarom achter hun behoeften. Door mijn analytische blik en creativiteit te combineren, vertaal ik complexe vraagstukken naar intuïtieve oplossingen."</p>
    </div>
    <img class="header-img" src="/images/DennisUlijn-2024-10.png" alt="">
    <div class="header-gradient"></div>
</header>

<main>
    <h2>Recente Uitgelichte Projecten</h2>
    <div class="cards">
        {% for blog in collections.featuredBlog 
            | reverse 
            | limit(3) %}
        <a href="{{ blog.url }}" class="card card-featured">
            <img loading="lazy" src="{{ blog.data.thumbnail }}" alt="{{ blog.data.title }}">
            <div class="card-content">
                <h3>{{ blog.data.title }}</h3>
                <p class="subtitle">{{ blog.data.date | dateFilter }}</p>
                <p>{{ blog.data.description }}</p>
                {% if blog.data.tags %}
                    {% set tags = blog.data.tags %}
                    {% include "tagChips.njk" %}
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
</main>
